## パッと見で挙動がわからなかったpandasメソッドの確認

In [1]:
import pandas as pd
import numpy as np

### dataframe.groupby.diff() : グループ分けてからdiff

In [2]:
ttt = pd.DataFrame([
    ["A", "A", "A", "B", "B", "B", "B"],
    [1, 5, 3, 14, 8, 2, 2]
]).T
display(ttt)
tdf = ttt.groupby(0).diff()
display(tdf)

   0   1
0  A   1
1  A   5
2  A   3
3  B  14
4  B   8
5  B   2
6  B   2

     1
0  NaN
1    4
2   -2
3  NaN
4   -6
5   -6
6    0

### groupby.rank() : ランク, (数字の場合)グループ内の大きいもん順
* 同着の場合は平均値が入る。2位と3位が同着なら２つとも2.5位となる

In [3]:
ttt.groupby(0).rank(ascending=False)

DataError: No numeric types to aggregate

* pct=Trueで割合表記になる

In [ ]:
ttt.groupby(0).rank(pct=True, ascending=False)

          1
0  1.000000
1  0.333333
2  0.666667
3  0.250000
4  0.500000
5  0.875000
6  0.875000

In [ ]:
prefix = "rank_"

prefix in ['','last3_','last6_','rank_','ym_rank_']

True

### drop.duplicatesは指定しなかったらgroupby.firstが残る

In [ ]:
ttt.drop_duplicates(0)

   0   1
0  A   1
3  B  14

### groupby.idx.agg(["min", "max"])

In [9]:
ttt.groupby(0, sort=False)[1].agg(["min", "max"])
# これはidxはカラム名かも。df["cols"]かdf.colsかはっきりしてくれ

   min  max
0
A    1    5
B    2   14